@import '../Style/variable.scss';




.product-page {
    padding-top: 50px;
    padding-bottom: 50px;
}

.product {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 1px 3px 5px -3px rgba(0, 0, 0, 0.92);
    -moz-box-shadow: 1px 3px 5px -3px rgba(0, 0, 0, 0.92);
    box-shadow: 1px 3px 5px -3px rgba(0, 0, 0, 0.92);
}

.img-container-product {

    width: 300px;
    display: flex;
    justify-content: center;
}

.img-price-product {
    display: flex;
    flex-direction: column;
}

.name-product h1 {
    font-size: 15px;
    color: #a4a4eb;

}

.img-product {
    height: 215px;
    width: auto;

}

.product-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}


.btn-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.btn {
    width: 120px;
    height: 25px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #a4a4eb;
    ;
    color: #a4a4eb;

    font-size: 15px;
    cursor: pointer;
}


.btn-go-cart {

    margin: auto;
    width: 200px;
    justify-content: center;
    text-transform: uppercase;
    height: 50px;
    border-radius: 12px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #9400FF;
    background-color: #9400FF;
    color: $white;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background-color: #213555;
    }
}

.btn-go-cart-link {
    text-decoration: none;
    font-weight: bold;
    color: $white;
}


.price-text {
    font-size: 14px;
    color: $red;
    margin-top: 6px;
}

.description-product {
    width: 300px;
}

.name-price-product {

    width: 300px;
    text-align: center;
    padding-bottom: 15px;
}

.rating-stars {
    padding-top: 10px;
}

.rating-stars .img-rating {
    height: 20px;
    width: auto;
}

.total-cart {
    display: flex;
    justify-content: center;
}